@if $layout == "list" {
  .featured-categories {
    &__list-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__item-container {
      border: 1px solid var(--primary-low);
      border-radius: var(--d-border-radius);
      padding: 1rem;
    }
    &__item-link {
      color: var(--primary) !important;
      display: grid;
      grid-template-areas:
        "logo title"
        "logo description";
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 1.5rem;
      .category-logo.aspect-image {
        grid-area: logo;
        margin: 0;
      }
      .item-name {
        grid-area: title;
        font-size: 1rem;
        font-size: var(--font-up-1);
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      .item-type-tag {
        font-size: 0.8rem;
        opacity: 0.7;
      }
      .item-description {
        grid-area: description;
      }
    }
  }
  @include breakpoint(mobile-large) {
    .featured-categories {
      &__item-link {
        grid-template-areas:
          "logo "
          "title"
          "description";
        .category-logo.aspect-image {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
